<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsejvqheiopTD9dsScnVro8sTDcX57dHI</string>
	<key>GCM_SENDER_ID</key>
	<string>605730184710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rees46.rees46FlutterSdkExample</string>
	<key>PROJECT_ID</key>
	<string>rees46-com</string>
	<key>STORAGE_BUCKET</key>
	<string>rees46-com.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605730184710:ios:0a0e45689eec55945b6d87</string>
</dict>
</plist>